<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asosacionet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* --- 02 COLORS
- Primary:  #134e9e

- Tints: 
#d0ebff
 #74c0fc
 #339af0

- Shades: 
#1c7ed6
#1864ab */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

        * {
            font-family: 'Poppins', sans-serif;
            outline: none;
        }


        body {
            background-color: #134e9e;
        }

        table,
        th {
            border: 1px solid white;
        }

        table {
            border: 2px solid white;
        }

        table,
        td {
            border: 2px solid #134e9e;
            /* border-collapse: collapse; */
            padding: 20px;

        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        /* tr:nth-child(even){
            background-color: #e4b6b6;
        } */
        th {
            background-color: #134e9e;
            color: white;
        }

        td {
            text-align: center;
        }

        tr {
            background-color: #134e9e;
            color: white;
        }

        .far {
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
            padding: 0;
            width: 600px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 0 15px -6px #00000073;
        }

        table tr {
            background-color: #fff;
        }

        table th,
        table td {
            padding: 20px 0;

        }

        table th {
            width: 20%;
            padding: 10px 0;
            font-size: 14px;
            padding: 15px;
            background-color: #134e9e;
            color: #fff;
        }

        table tr {
            text-align: center;
            width: 20%;
            padding: 20px 0;
            background-color: #fff;
            color: #3a3a3a;
        }

        table td:hover {
            background-color: #134e9e;
            color: white;
        }

        input {
            margin: 5px;
            padding: 10px;
            text-align: center;
            border: none;
        }

        #homeIcon {
            margin: 10px;
        }
    </style>

    <script src="https://kit.fontawesome.com/ed14d3e558.js" crossorigin="anonymous"></script>
</head>

<script>



</script>

<body>
    <div style="display: flex; justify-content:space-between; flex-direction: row; ">
        <a href="../" style="color: white;">
            <i class="fa-solid fa-house-user fa-2xl" id="homeIcon"></i>
        </a>

        <div class="volume">
            <button onclick="playAudio()" id="audioPlayBtn"><i class="fas fa-volume-up"></i></button>
            <button onclick="stopAudio()" id="audioStopBtn"><i class="fas fa-volume-mute"></i></button>
        </div>
        <audio src="../../img/audio/Loby.mp3" id="my_audio" loop="loop" autoplay="autoplay"></audio>
    </div>
    <div style="width: 100%; text-align: center; margin-top: 50px; margin-bottom: 30px;">
        <h2 style="color: white;">
            <%=title%>
        </h2>
    </div>

    <table id="example">
        <thead>
            <tr>
                <th>Kolona A</th>
                <th>Kolona B</th>
                <th>Kolona C</th>
                <th>Kolona D</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td onclick="showData(this)" id=<%=A[0]%>> A1 <i class="far fa-eye" style="color: grey;"></i>
                </td>
                <td onclick="showData(this)" id=<%=B[0]%>> B1 <i class="far fa-eye" style="color: grey;"></i>
                </td>
                <td onclick="showData(this)" id=<%=C[0]%>> C1 <i class="far fa-eye" style="color: grey;"></i>
                </td>
                <td onclick="showData(this)" id=<%=D[0]%>> D1 <i class="far fa-eye" style="color: grey;"></i>
                </td>

            </tr>
            <tr>
                <td onclick="showData(this)" id=<%=A[1]%>>A2 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=B[1]%>>B2 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=C[1]%>>C2 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=D[1]%>>D2 <i class="far fa-eye" style="color: grey;"></i></td>
            </tr>
            <tr>
                <td onclick="showData(this)" id=<%=A[2]%>>A3 <i class="far fa-eye" style="color: grey;"></i></td>

                <td onclick="showData(this)" id=<%=B[2]%>>B3 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=C[2]%>>C3 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=D[2]%>>D3 <i class="far fa-eye" style="color: grey;"></i></td>
            </tr>
            <tr>
                <td onclick="showData(this)" id=<%=A[3]%>>A4 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=B[3]%>>B4 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=C[3]%>>C4 <i class="far fa-eye" style="color: grey;"></i></td>
                <td onclick="showData(this)" id=<%=D[3]%>>D4 <i class="far fa-eye" style="color: grey;"></i></td>
            </tr>
            <tr>
                <td> <input placeholder="Zgjidhja A" onclick="finalData(this)" id=<%=A[4]%> ></td>
                <td><input placeholder="Zgjidhja B" onclick="finalData(this)" id=<%=B[4]%> ></td>
                <td><input placeholder="Zgjidhja C" onclick="finalData(this)" id=<%=C[4]%> ></td>
                <td><input placeholder="Zgjidhja D" onclick="finalData(this)" id=<%=D[4]%> ></td>

            </tr>

            <tr>
                <td colspan="4"><input placeholder="Zgjidhja përfundimtare" onclick="finalData(this)" id=<%=P%> > </td>
            </tr>



        </tbody>
    </table>


    <script>
        function showData(e) {
            var Tdata = document.getElementById(e.id);
            Tdata.innerHTML = e.id;
            Tdata.style.color = "black"
        }
        function finalData(e) {
            var input = document.getElementById(e.id)
            input.onkeypress = function () {
                if (event.keyCode == 13) {
                    if (input.value == e.id) {
                        input.style.backgroundColor = "#00693e"
                        input.disabled = "disabled"
                        input.style.color = "white"
                    } else {
                        input.value = ""
                    }
                }
            }
        }

        window.onload = function () {
            document.getElementById("my_audio").volume = 0;
            document.getElementById("audioPlayBtn").style.display = "inherit";
            document.getElementById("audioStopBtn").style.display = "none";
        }


        function stopAudio() {
            document.getElementById("my_audio").volume = 0.1;
            document.getElementById("my_audio").play();
            document.getElementById("audioPlayBtn").style.display = "inherit";
            document.getElementById("audioStopBtn").style.display = "none";
        }
        function playAudio() {
            document.getElementById("my_audio").volume = 0;
            document.getElementById("audioPlayBtn").style.display = "none";
            document.getElementById("audioStopBtn").style.display = "inherit";
        }



        var i = 0;
        var col = new Array("#134e9e", "#00693e", "#810100", "#FFF44E");
        function change() {
            document.getElementsByTagName("body")[0].style.backgroundColor = col[i];
            i++;
            if (i > col.length) {
                i = 0;
            }
            window.setTimeout("change()", 1200);
        }
        window.onload = change();

        firebase.auth().onAuthStateChanged((user) => {
            if (user) {

                var uid = user.uid;

            } else {
                uid = undefined;
                window.location.replace('../index.html');
            }
        });


    </script>

</body>

</html